.ui-btn {
  background-color: #FAF0E6;
  border-radius: 16px;
  padding: 5px;
  width: 100px;
  height: 40px;
  transform: translate(0%, 50%);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: none;
}

.ui-btn:hover {
  background-color: #ECDED0;
}

.ui-btn:active {
  border: 1px solid #98503D;
  background-color: #FFFFFF;
}
